<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOS APP</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h1>To Do App</h1>
        </div>
        <div class="card-body">
            <form action="">
                <label for="to-do">New to do</label>
                <input type="text" name="to-do" id="" title="to-do">
                <button class="btn" type="submit">Add</button>
            </form>
            <div class="card-body-col-left">
                <h2>To do</h2>

                <ol class="card-body-to-do-list">
                    <li class="todo-row">
                        Write HTML
                        <form action="">
                            <button type="submit">&times;</button>
                        </form>
                        <form action="">
                            <button type="submit">&#10003;</button>
                        </form>
                        
                    </form>
                    </li>
                    <li class="todo-row">
                        Write CSS
                        <form action="">
                            <button type="submit">&times;</button>
                        </form>
                        <form action="">
                            <button type="submit">&#10003;</button>
                        </form>

                    </li>
                    <li class="todo-row">
                        Write Javascript
                        <form action="">
                            <button type="submit">&times;</button>
                        </form>
                        <form action="">
                            <button type="submit">&#10003;</button>
                        </form>
                    </li>
                </ol>
            </div>
            <div class="card-body-col-right">
                <h2>Done</h2>
                <ol class="card-body-to-do-list">
                    <li class="todo-row">
                        Record an intro
                        <form action="">
                            <button type="submit">&times;</button>
                        </form>
                    </li>
                    <li class="todo-row">
                        Setup Environment
                        <form action="">
                            <button type="submit">&times;</button>
                        </form>
                    </li>
                </ol>
            </div
        </div>

    </div>
</body>
</html>